<%= include partials/header %>

<div id='info'>
	<p>Logged in as: <span id="name"></span></p>
</div>
<div id="chatbox">
	<div id="client-list"></div>
  <div id="chat-area">
  
  </div>
  
  <div id="form-container">
    <form id="messages">
	    <input  id="message" type="text" placeholder="Your message here"></input>
	    <button type="submit">Submit</button>
    </form>
  </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
	var socket = io.connect(window.location.hostname)

	var nullName = function (name){
		if(name === 'null' || name === null || name === ''){
  	  newName = prompt("Name cannot be blank\nWhat is your name?");
  	  nullName(newName);
  	}else{
  	  socket.emit('join', name);
  	  $("#name").text(name);
    }
	}
	
  socket.on('addMessage', function(data){
    $("#chat-area").append("<p>"+data.name+": "+data.message+"</p>")
    $("#chat-area").scrollTop($("#chat-area").prop('scrollHeight'));
  });

  socket.on('connect', function(data){
    //if reconnected because server restarts, remove old chat clients
    $('#client-list').children('p').remove();
  	name = prompt("What is your name?");
  	nullName(name);
  });
  
  socket.on('addClient', function(data){
    var list = [];
    $("#client-list").children("p").each(function(index){
      list.push($(this).text())
    ;})
    if($.inArray(data, list) == -1){
      $("#client-list").append("<p title="+data+">"+data+"</p>");
    }
  });

  socket.on("clientDisconnect", function(name){
   $("p[title='"+name.name+"']").remove();
   alert(name.name);
  });

	$("#messages").submit(function(e){
		 e.preventDefault();
     var message = $("#message").val();
     $("#message").val("");
     console.log(message);
     socket.emit('messages', message);
   	});

</script>
<%= include partials/footer %>